.CourseDetailsPane {
  width: 480px;
  overflow-y: scroll;
}

.CourseDetailsPane > h4 {
  margin: 0;
  padding: 4px 12px;

  background: #f4f4f4;
  color: #555;

  font-size: 16px;
  font-weight: 400;
}

.CourseDetailsPane > .CourseDetailsPane-content {
  padding: 8px 12px 12px 12px;
}

.CourseDetailsPane > .CourseDetailsPane-content > .CourseDetailsPane-professor {
  margin: 0;

  color: #555;

  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
}
